
footer {
  padding-top: 10px;
  text-align: center;
  color: #ffff;
  background-color: #333;
  bottom: 0;
  left: 0;
  height: 40px;
  /* position: fixed; */
  width: 100%;
}
.fixo {
  position: fixed;
}
