
.reverse {
  flex-direction: row-reverse;
}
.inline {
  justify-content: space-between;
  display: flex;
  padding-top: 20px;
  background: #f9f9ff;
}
p {
  text-align: justify;
  max-width: 680px;
  margin: 5px;
  color: #777777 !important;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  line-height: 1.8em !important;
}

.p100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

img {
  width: 400px;
  height: 500px;
}
.hide {
  visibility: hidden;
}

/* @media screen and (max-width: 470px) {
  .foto {
    width: 125px;
    margin-right: 5px;
  }
  .informacoes  {
    font-size: 11px;
    margin: 5px;
  }
  .center {
    font-size: 11px;
  }
  .redes-sociais .rede-circulo {
    width: 30px;
    height: 30px;
  }
} */
