.foto {
  max-width: 400px;
  max-height: 400px;
}
.inline {
  flex-direction: row-reverse;
  display: flex;
  padding-top: 7px;
}
.informacoes {
  max-width: 680px;
}
.redes-sociais {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.center {
  padding-top: 30px;
  text-align: center;
}
p {
  padding-bottom: 12px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
