

.menu-nav ul {
  display: flex;
  height: 60px;
  max-width: 1110px;
  justify-content: left;
  margin: 0 auto;
  align-items: center;
}

.menu-nav {
  overflow: hidden;
  background: -webkit-linear-gradient(-45deg, #00eaf3 0%, #546ef9 50%, #8c1cf9 100%);
}

.menu-nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  align-items: center;
}

.menu-nav .icon {
  display: none;
}

.sidepanel  { /* barra lateral do menu */
  width: 0;
  position: fixed;
  top: 0;
  opacity: 0.9;
  background: #546ef9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {   /* itens dentro do menu */
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f2f2f2;
  display: block;
  transition: 0.2s;
}

.sidepanel .closebtn {
  color: #f2f2f2;
  position: absolute;
  top: -10px;
  right: 15px;
  font-size: 36px;
}

.menu-bar {
  font-size: 20px;
  color: #f2f2f2;
  padding: 10px 15px;
  border: none;
  background: -webkit-linear-gradient(-45deg, #00eaf3 0%, #546ef9 50%, #8c1cf9 100%);
}

