
<nav class="menu-nav" id="menu-nav">
  <ul>
    <li><a routerLink="/" id="inicio" (click)="ativar('inicio')" >Inicio</a></li>
    <li><a routerLink="/sobre" id="sobre" (click)="ativar('sobre')">Sobre</a></li>
    <li><a routerLink="/portfolios" id="portfolios" (click)="ativar('portfolios')">Portfólios</a></li>
    <li><a routerLink="/curriculo" id="curriculo" (click)="ativar('curriculo')">Currículo</a></li>
    <!-- <li><a routerLink="/blog" id="blog" (click)="ativar('blog')">Blog</a></li> -->
    <li><a href="javascript:void(0);" class="icon" (click)="menuResponsivo()">
      <i class="fa fa-bars"></i>
    </a></li>
  </ul>
</nav>

<!-- (click)="menuResponsivo('Inicio')"
(click)="menuResponsivo('Sobre')"
(click)="menuResponsivo('Portfólios')"
(click)="menuResponsivo('Currículo')"
(click)="menuResponsivo('Blog')" -->
