<div *ngIf="isDesktop">
  <nav class="menu-nav" id="menu-nav">
    <ul>
      <li><a routerLink="/" id="inicio">Inicio</a></li>
      <li><a routerLink="/sobre" id="sobre">Sobre</a></li>
      <li><a routerLink="/portfolios" id="portfolios">Portfólios</a></li>
      <li><a routerLink="/curriculo" id="curriculo">Currículo</a></li>
    </ul>
  </nav>
</div>
<div *ngIf="isMobile">
  <div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn"  (click)="closeMenu()">×</a>
    <a routerLink="/" id="inicio" (click)="closeMenu()">Inicio</a>
    <a routerLink="/sobre" id="sobre" (click)="closeMenu()">Sobre</a>
    <a routerLink="/portfolios" id="portfolios" (click)="closeMenu()">Portfólios</a>
    <a routerLink="/curriculo" id="curriculo" (click)="closeMenu()">Currículo</a>
  </div>

  <div class="openbtn menu-nav" (click)="openMenu()">☰</div>

</div>
