<ng-container *ngIf="isDesktop" >
  <div class="max">
    <section class="apresentacao">
      <div class="div1">
        <p class="texto">Ao seu dispor,</p>
        <h1 class="nome">Maiki R. Ismene</h1>
        <br />
        <a routerLink="/portfolios" class="primary-btn text-uppercase">portfólio</a>

      </div>
      <img class="foto" src="../../assets/img/maiki-inicio2.png" alt="Maiki" />

    </section>
    <div class="container">
      <section class="animacao_pc">
        <div class="back">
          <div class="console-pc">
            console.log(_maiki); "Maiki Rodrigues Ismene Desenvolvedor web,
            desenhista, tatuador (iniciante), design gráfico(freelancer) e pai da
            menina mais linda desse mundo! ;)"
          </div>
        </div>
        <div class="texto mobile">
          <div>
            <span>
              Entusiasta no mundo da arte na pele, amante das artes visuais, escritor de código e
              apreciador de um bom cafézinho
              <br />
              <br />
              <a routerLink="/sobre" class="primary-btn text-uppercase size">Sobre mim</a>
            </span>
          </div>
        </div>
      </section>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="isMobile" >
  <section class="box">
    <div class="descritivo">
      <h6 class="">Ao seu dispor,</h6>
      <h1 class="">Maiki R. Ismene</h1>
      <br />
      <div>
        <span class="resumo">
          Entusiasta no mundo da arte na pele, amante das artes visuais, escritor de código e
          apreciador de um bom cafézinho
        </span>
      </div>
      <div class="m30">
        <a routerLink="/portfolios" class="primary-btn text-uppercase">portfólio</a>
      </div>

    </div>
    <div class="fundo-branco">
      <img class="foto-mobile" src="../../assets/img/maiki-inicio2.png" alt="Maiki" />
    </div>
  </section>
</ng-container>
