<ng-container *ngIf="isDesktop" >
  <div class="max">
    <section class="apresentacao">
      <div class="div1">
        <p class="texto">Ao seu dispor,</p>
        <h1 class="nome">Maiki R. Ismene</h1>
        <br />
        <a routerLink="/portfolios" class="primary-btn text-uppercase">portfólio</a>

      </div>
      <img class="foto" src="../../assets/img/maiki-inicio2.png" alt="Maiki" />

    </section>
    <div class="container">
      <section class="animacao_pc">
        <div class="back">
          <h1 class="console-pc">
            console.log(_maiki); "Maiki Rodrigues Ismene Desenvolvedor web,
            desenhista, tatuador (iniciante), design gráfico(freelancer) e pai da
            menina mais linda desse mundo! ;)"
          </h1>
        </div>
        <div class="texto mobile">
          <div>
            <span>
              Entusiasta no mundo da arte na pele, amante das artes visuais e
              apreciador de um bom cafézinho
              <br />
              <br />
              <a routerLink="/sobre" class="primary-btn text-uppercase size">Sobre mim</a>
            </span>
          </div>
        </div>
      </section>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="isMobile" >
  é mobile
</ng-container>
