.swiper-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  height: 510px;
}
section {
  display: flex;
}
a {
  color: #fff !important
}
.botoes {
  justify-content: space-between;
  padding: 0 10px;

}

.desktop {
  width: 610px;
}

.item {
  width: 600px;
  height: 900px;
}

.alert {
  margin: 10px !important;
  top: 10px;
}
