.swiper-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  height: 510px;
}
section {
  display: flex;
}
.centralizado {
  text-align: -webkit-center;
}
.visualizar {
  justify-content: space-between;
  padding: 0 10px;
  display: flex;
  width: 500px;
  align-items: center;
}
.visualizar-mobile {
  justify-content: space-between;
  padding: 10px 10px 0 10px;
  display: flex;
  align-items: center;
}
.select {
  width: 250px;
}
.desktop {
  width: 610px;
}
.item {
  width: 600px;
  height: 900px;
}
