/* superinfo */
.superinfo-bg {
  background: #000000;
  color: white;
}
.superinfo {
  display: flex;
  max-width: 960px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: auto 2px;
  padding-bottom: 3px;
}
.superinfo a {
  color: #f7f7f7;
  font-size: 0.8em
}

.superinfo p {
   font-size: 0.8em;
}

/*Footer*/

.footer {
	display: flex;
	background: #2c70ff;
	height: 40px;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
	left: 0;
}

.footer p {
	flex: 1;
	text-align: center;
	font-size: 1.25em;
	color: #f7f7f7;
}

@media screen and (max-width: 960px) {
  .superinfo {
    margin-left: 5px;
    margin-right: 5px;
  }
}
