/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

/* C:\Workspace\maiki.com.br\maiki\node_modules\bootstrap\dist\css\bootstrap.min.css */
body, p, ul, li, a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "roboto-mono";
  color: #222222;
}

ul, li {
list-style: none;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
