<section>
  <h1>Formação Acadêmica</h1>
  <div class="conteudo">
    <div class="primeira">
      <div class="caixa">
        <h4>Análise e Desenvolvimento de Sistemas</h4>
        <p>conclusão: jul/ 2019</p>
      </div>
    </div>
    <div class="linha-vertical">
      <div class="bolinha"></div>
      <div class="bolinha"></div>
      <div class="bolinha"></div>
    </div>
    <div>
      <div class="caixa">
        <h4>Engenharia da Computação</h4>
        <p>conclusão: dez/ 2025</p>
      </div>
      <div class="caixa m200">
        <h4>Técnico em logística</h4>
        <p>conclusão: dez/ 2015</p>
      </div>
    </div>
  </div>
</section>
<section>
  <h1>Experiências profissionais</h1>
  <div class="conteudo">
    <div>
      <div class="caixa">
        <h4>Analista de Sistemas</h4>
        <div>
          <p>BRQ Digital Solutions</p>
          <p>Mar/ 2020 - atual</p>
        </div>
      </div>
      <div class="caixa m200">
        <h4>Analista Programador </h4>
        <div>
          <p>Resource It Solutions</p>
          <p>Mai/ 2018 - Jan/ 2020</p>
        </div>
      </div>
    </div>
    <div class="linha-vertical">
      <div class="bolinha"></div>
      <div class="bolinha"></div>
      <div class="bolinha"></div>
    </div>

    <div class="primeira">
      <div class="caixa">
        <h4>Desenvolvedor de Software</h4>
        <div>
          <p>Indra Company</p>
          <p>Jan - Mar /2020</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="download">
  <p class="espaco">Baixar meu CV completo </p>
  <a download="CV - Maiki Rodrigues Ismene.pdf" class="primary-btn text-uppercase" href="../../assets/file/CV - Maiki Rodrigues Ismene.pdf">
    Download
  </a>
</div>
