.conteudo {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.caixa {
  height: 160px;
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  box-shadow: 0px 10px 23px 0px rgba(0, 0, 0, 0.2);
  background: #f9f9ff;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 40px;
  margin-left: 40px;
}

/* .caixa:hover {
  transition: all 0.5s;
  filter: opacity(70%);
  background: -webkit-linear-gradient(-45deg, #00eaf3 0%, #546ef9 50%, #8c1cf9 100%);
} */

.m200 {
  margin-top: 240px;
}

.linha-vertical {
  height: 560px;
  border-right: 1px solid #afacac;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.primeira {
  margin-top: 200px;
}

.titulo-desk {
  text-align: center;
  margin-top: 90px;
}

* {
  font-family: "Montserrat";
  color: #777777
}

p {
  font-size: 1.25em;
  color: #000;
}

.bolinha:before {
  content: '';
  background: #8490ff;
  position: absolute;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #eee;
  border-radius: 50%;
}

::selection {
  background-color: #8490ff;
  color: #fff;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.branco {
  color: #fff;
}
.espaco {
  padding-right: 10px;
}

.container-mobile {
  margin-top: 40px;
}

.titulo-mobile {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 30px;
}

.caixa-mobile {
  height: 150px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  box-shadow: 0px 10px 23px 0px rgba(0, 0, 0, 0.2);
  background: #f9f9ff;
}

.timeline {
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.timeline ul li {
  margin-bottom: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.point {
  width: 20px;
  height: 20px;
  border: 5px solid #eee;
  background: #8490ff;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
}

.timeline ul li .content {
  width: 100%;
}

.timeline ul li .content h3 {
  padding: 10px 20px;
  background-color: #be9fe1;
  margin-bottom: 0;
  text-align: center;
}

.timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 10px;
  border-right: 1px solid #afacac;
}

.traco {
  content: "";
  position: absolute;
  height: 1px;
  width: 75%;
  left: 28px;
  border-top: 1px solid #afacac;
}
